doctype
html
    head
        title="this is a redux app"
        link(rel="stylesheet", href="/static/css/main.css")
    body
        div(id="app")
        script(src="/static/bundle.js", type="text/javascript")
